<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit account</title>
    <link rel="icon" href="../static/images/Radio360-_1_.ico" type="image/x-icon">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
</head>
<body>
<ul class="nav nav-tabs bg-black text-light">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Disabled</a>
  </li>
</ul>


<div class="container-fluid h-100">
  <div class="row w-100  vh-100 ">
    <div class="col-3 position-relative bg-primary full-height">

        <div class="data position-absolute start-0 mt-5">
        {% if userdata %}
{#        <img src="../static/images/you.jpg" class="img-thumbnail rounded-circle ms-4" alt="..." width="250px" height="150px">#}
        <img src="{{ url_for('static',filename='/images/'+ userdata["picture"]) }}" class="img-thumbnail rounded-circle ms-4" alt="..." width="250px" height="150px">"
{#        <img src="../static/images/you.jpg" alt="Health Tips" >#}
        <h1 class="text-center text-light ms-3 mb-3 mt-3"> Hello:</h1>
{#        <h1>doctor</h1>#}

           <h2 class="text-center ms-">{{ userdata["fname"] }} {{ userdata["lname"] }}</h2>
        {% endif %}
        </div>

    </div>
    <div class="col-9  full-height">
      <div class="card bg-primary text-light w-50 mx-auto mt-5">
  <h5 class="card-header text-center">Patient's Information</h5>
      <form action="/edit_d" method="post">
  <div class="card-body d-flex flex-row justify-content-between">

    {% if userdata %}

      <div class="d-flex flex-column gap-2">
      <h5 class="">First name:</h5>
          <input type="text" placeholder="{{ userdata["fname"] }}"   class="form-control" name="e_fname" required>
{#      <h3>{{ userdata["fname"] }}</h3>#}
      <h5 class="">Email address:</h5>
           <input type="text" placeholder="{{ userdata["emailaddress"] }}"   class="form-control" name="e_email" required>
      <h5 class="">Age:</h5>
               <input type="text" placeholder="{{ userdata["age"] }}"   class="form-control" name="e_age" required >
      <h5> doctor's Id:</h5>
           <input type="text" placeholder="{{ userdata["id"] }}"  value="{{ userdata["id"] }}" class="form-control" name="id_d" readonly >
      </div>
      <div class="d-flex flex-column gap-2">
        <h5>Last name: </h5>
           <input type="text" placeholder="{{ userdata["lname"] }}"   class="form-control" name="e_lname" required>

         <h5>Phone:</h5>
           <input type="text" placeholder="{{ userdata["phonenumber"] }}"   class="form-control" name="e_phone" required>
          <h5>Gender:</h5>
       <input type="text" placeholder="{{ userdata["gender"] }}"   class="form-control" name="e_gender" required>
           <div class="d-grid gap-2 d-md-block mt-4">
                        <button class="btn btn-success btn-lg align-self-center p-2 mt-4" type="submit">submit</button>
                    </div>
      </div>

    {% endif %}
  </div>
 </form>
</div>
    </div>

  </div>
</div>


 <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  ></script>
</body>
</html>